body {
  margin: 0 auto;
  font-family: 'Brygada 1918', serif;
  font-family: 'League Spartan', sans-serif;    
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.link {
  font-family: 'League Spartan', sans-serif;
    color: chocolate;
    transition: color .2s;
  }

  .link:hover {
    color: gray;
  }

.header {
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
}

.header-link {
  margin: 0 10px;
}

.main {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-grow: 1;
  padding-top: 50px;

}

.aside {
  width: 300px;
  flex: 0;
}

.main-section {
  flex-grow: 1;
  padding-left: 50px;
}

.contacts-item {
  display: flex;
  align-items: center;
}

/*  .ribbon {
    background-color: chocolate;
    padding: 20px;
    text-align: center;
  }

  .img {
    border: 1px solid gray;
  } ver 1.0
*/
  .title {
    font-family: 'Brygada 1918', serif;
    color: gray;
    text-align: center;
  }

  .subtitle {
    font-family: 'Brygada 1918', serif;
    border-left: 5px solid chocolate;
    padding-left: 10px;
    color: gray;
    margin-top: 30px;
  }

  .footer {
    border-top: 1px solid gray;
    padding: 20px;
    text-align: center;
    color: gray;
  }
  